<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-controller="Account" asp-action="Login" id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div class="text-danger"></div>
                <div class="form-floating">
                    <input type="text" name="username" class="form-control" autocomplete="username" aria-required="true" />
                    <label class="form-label">Імя користувача</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label class="form-label">Пароль</label>
                </div>
                <div>
                    <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary">Зайти</button>
                </div>
                <div>
                    <p>
                        <a asp-controller="Account" asp-action="Register">Реєстрація нового користувача</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
