 <!DOCTYPE html>
<html lang="en">

<head>
    @{
    Layout = "";
}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reenbit.TestTask.RealTimeChat.styles.css" asp-append-version="true" />
</head>
<div class="row">
    <div class="col-md-4" style="margin-left: auto;   margin-right: auto;   display: block;">
        <section>
            <form asp-controller="Account" asp-action="Login" id="account" method="post">
                <h2>Авторизація</h2>
                <hr />
                <div class="text-danger"></div>
                <div class="form-floating">
                    <input type="text" name="username" class="form-control" autocomplete="username" aria-required="true" />
                    <label class="form-label">Імя користувача</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label class="form-label">Пароль</label>
                </div>
                <div>
                    <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary">Зайти</button>
                </div>
                <div>
                    <p>
                        <a asp-controller="Account" asp-action="Register">Реєстрація нового користувача</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    </html>
